
:root {
    --bg-color: white;
    --txt-color: black;
    --special-color: #983f3f;
    --button-highlight: rgb(100,100,100);
    --common-spacing: 8px;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

button:hover {
    cursor: pointer;
}

.noteapp-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.notes_sidebar {
    width: 4em;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.notes_sidebar-note {
    position: relative;
    transform: rotate(270deg);
    display: flex;
}

.notes_sidebar-note_selected button {
    background-color: var(--special-color);
    color: var(--bg-color);
}

#notes_sidebar-add_note {
    width: 48px;
    height: 48px;
    margin: var(--common-spacing) auto;
    background-color: var(--txt-color);
    color: var(--bg-color);
    border-style: none;
    border-radius: 4px;
    box-shadow: 2px 4px 4px var(--button-highlight);
}

#notes_sidebar-add_note:hover {
    background-color: var(--special-color);
}

.editor {
    width: 100%;
    height: 100%;
    margin-left: 1em;
}

.editor-textstyle {
    margin: var(--common-spacing) 0 var(--common-spacing) 2em;
}

.editor-textstyle button {
    background-color: transparent;
    border: none;
    font-size: larger;
    box-shadow: 2px 4px 6px var(--button-highlight);
    margin-left: var(--common-spacing);
}

.editor-textstyle button:hover,
.editor-textstyle button:active {
    background-color: var(--special-color);
    color: var(--bg-color);
    /*border-radius: 4px;*/
}

#editor-titlewindow {
    font-size: 2em;
    margin: var(--common-spacing) 0;
}

#editor-textwindow {
    width: 95%;
    min-height: 80vh;
    resize: none;
}

#editor-bold {
    font-weight: 700;
}

#editor-italic {
    font-style: italic;
}

#editor-underline {
    text-decoration: underline;
}

#editor-strikethrough {
    text-decoration: line-through;
}