
:root {
    --bg-color: white;
    --txt-color: black;
    --special-color: #983f3f;
}

body {
    margin: 0;
    min-height: 100vh;
}

.notes_sidebar {
    float: left;
    height: 100vh;
    width: 3em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.notes_sidebar-note {
    position: relative;
    /*transform-origin: top left;*/
    transform: rotate(270deg);
    display: flex;
}

#notes_sidebar-add_note {

}